p{
    display: inline-block;
    margin:20px;
    font-size: 25px;
    width: 60%;
}
li{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 30px;
}
.fas{
    color: black;
    font-size: 30px;
    margin-right: 25px;
    margin-top: 20px;
    width: 10%;
}
.count{
    width: 30%;
}
